{
  "extends": "@antfu",
  "rules":{
    "no-console":0,
    "prefer-const":0,
    "no-prototype-builtins":0,
   "vue/no-parsing-error": ["error", {
     "invalid-first-character-of-tag-name": false
   }]
  }
}
